.vs/
SimpleBackendServer/.vs/
SimpleBackendServer/bin/
SimpleBackendServer/obj/
SimpleBackendServerTests/.vs/
SimpleBackendServerTests/bin/
SimpleBackendServerTests/obj/
LoadBalancer/.vs/
LoadBalancer/bin/
LoadBalancer/obj/
.fake